.footer {
  background: #111;

  color: #ccc;
  padding: 2rem;
  text-align: center;
  font-size: 0.9rem;

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .footer-links {
    display: flex;
    gap: 1.5rem;

    a {
      color: #ccc;
      text-decoration: none;

      &:hover {
        color: white;
      }
    }
  }

  .credits {
    margin: 0;
  }
}
